{% extends "base.html" %}

{% block content %}
    <h1>Comunidade - Só Entre Nós</h1>
    {% for post in posts %}
        <div class="card mt-3">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    {% if post.autor.gender == 'Masculino' %}
                    <img src="{{ url_for('static', filename='uploads/avatars/default_men_avatar.jpg') }}" alt="Avatar" class="avatar-img">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/avatars/default_women_avatar.jpg') }}" alt="Avatar" class="avatar-img">
                    {% endif %}
                    <h5 class="card-title ml-3">{{ post.titulo }}</h5>
                </div>
                <p class="card-text">{{ post.conteudo }}</p>
                <p class="text-muted">Postado por: {{ post.autor.username }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
