/* Estilos gerais para o body */
body {
    background: linear-gradient(to right, #E0F7FA, #B2EBF2, #80DEEA);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;  /* Tamanho base de fonte */
}

/* Estilos para o conteúdo principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1rem;  /* Usando rem para escalabilidade */
}

/* Estilo para os cards */
.card {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 1rem;  /* Usando rem para escalabilidade */
}

/* Estilizando os títulos h1, h2 */
h1, h2 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;  /* Usando rem para escalabilidade */
}

/* Estilos para as imagens do avatar */
.avatar-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* Links da navegação */
.nav-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 1rem;  /* Usando rem para escalabilidade */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;  /* Ajuste do tamanho da fonte */
    }

    .container {
        max-width: 90%;
        padding: 15px;
    }

    .card {
        padding: 10px;
    }

    .avatar-img {
        width: 40px;
        height: 40px;
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;  /* Ajuste ainda mais o tamanho da fonte */
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    .nav-link {
        display: block;
        padding: 8px;
        font-size: 0.8rem;
    }

    .avatar-img {
        width: 35px;
        height: 35px;
    }
}
