{% extends "base.html" %}

{% block title %}Sobre - Meu Blog{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Sobre o Projeto</h1>
        <p>Este projeto foi desenvolvido com o intuito de estudo de um simples blog, onde os usuários podem compartilhar suas ideias, pensamentos e experiências.</p>
        <h2>Objetivos</h2>
        <ul>
            <li>Permitir aos usuários publicarem posts facilmente.</li>
            <li>Garantir que o design seja responsivo e acessível.</li>
            <li>Fornecer um sistema de login seguro para os usuários.</li>
        </ul>
    </div>-->
<!--        <h2>Tecnologias Utilizadas</h2>-->
<!--        <p>O projeto foi desenvolvido utilizando as seguintes tecnologias:</p>-->
<!--        <ul>-->
<!--            <li>Flask - Framework Python para criação da aplicação web.</li>-->
<!--            <li>SQLite - Banco de dados relacional para armazenar as informações.</li>-->
<!--            <li>HTML, CSS - Para o design e interatividade do front-end.</li>-->
<!--        </ul>-->
<!--        <p>Estamos sempre em busca de melhorias, fique à vontade para contribuir com sugestões!</p>-->
<!--    </div>-->
{% endblock %}