{% extends "base.html" %}

{% block title %}Sobre - Meu Blog{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Sobre o Projeto</h1>
        <p>Este projeto foi desenvolvido com o intuito de estudo de um simples blog, onde os usuários podem compartilhar suas ideias, pensamentos e experiências.</p>
        <h2>Objetivos</h2>
        <ul>
            <li>Permitir aos usuários publicarem posts facilmente.</li>
            <li>Garantir que o design seja responsivo e acessível.</li>
            <li>Fornecer um sistema de login seguro para os usuários.</li>
        </ul>
    </div>
{% endblock %}